<!-- last-record-cards.component.html -->
<div class="container mt-4" >
  <div class="row">
    <div class="col-md-4" >
      <div class="card text-center">
        <div class="card-header" style="background: #FFE6E6">
          Temperature
        </div>
        <div class="card-body" style="background: #FFE6E6">
          <h5 class="card-title">{{ temperature }}°C</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center" style="background: #AD88C6">
        <div class="card-header">
          Humidity
        </div>
        <div class="card-body" style="background: #AD88C6">
          <h5 class="card-title">{{ humidity }}%</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center" style="background: #E1AFD1">
        <div class="card-header">
          Water Level
        </div>
        <div class="card-body" style="background: #E1AFD1">
          <h5 class="card-title">{{ waterLevel }}%</h5>
        </div>
      </div>
    </div>
  </div>
</div>
